<h1>Cats</h1>

<%= form_with url: cats_path, method: :get do |form| %>
  <%= form.search_field :query %>
  <%= form.button 'Search' %>
<% end %>

<%== pagy_nav(@pagy) %>

<ul>
  <% @cats.each do |cat| %>
    <div class="left-content">
      <li>Name: <%= cat.name %></li>
      <li>Temperament: <%= cat.temperament %></li>
      <li>Origin: <%= cat.origin %></li>
      <li>Weight: <%= cat.weight %> kgs"</li>
      <li>Life Span: <%= cat.life_span %> years </li>
      <li>Description: <%= cat.description %></li>
    </div>
    <div class="right-content">
      <li>
        <img src="<%= cat.url %>", alt="<%= cat.name %>", style="max-height: 500px; max-width: 500px">
      </li>
    </div>
    <div style="clear: both;"></div>
  <% end %>
</ul>
