<h1>Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <div class="left-content">
      <li>Name: <%= cat['breeds'].first['name'] %></li>
      <li>Temperament: <%= cat['breeds'].first['temperament'] %></li>
      <li>Origin: <%= cat['breeds'].first['origin'] %></li>
      <li>Description: <%= cat['breeds'].first['description'] %></li>
    </div>
    <div class="right-content">
      <li>
        <img src="<%= cat['url'] %>", alt="<%= cat['breeds'].first['name'] %>", style="max-height: 500px; max-width: 500px">
      </li>
    </div>
    <div style="clear: both;"></div>
  <% end %>
</ul>
